.homePageBanner {
  width: 1000px;
  height: 440px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.2)), url('/homelessSouls.jpg');
  margin-top: 200px;
  margin-bottom: 200px;
  margin-left: auto;
  margin-right: auto;
  background-position: top center;
  background-repeat: no-repeat;
}

.homePageBanner h4 {
  font-size: 30px;
  color: whitesmoke;

  @media screen and (max-width: 780px) {
    font-size: 25px;
  }
}
.homePageBanner p {
  color: whitesmoke;
  font-size: 25px;

  @media screen and (max-width: 780px) {
    font-size: 16px;
  }
}
