.menuList {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  background-color: rgb(142, 82, 112);
  padding: 200px;
  z-index: -80;

  @media screen and (max-width: 500px) {
    padding: 100px;
  }
}
.menuListItems {
  color: rgb(36, 27, 27);

  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin: 0;
}
.menuListItem {
  /* color: rgb(36, 27, 27); */
  text-decoration: none;
  cursor: pointer;
  font-size: 20px;
}
.menuListItem:hover {
  color: rgb(41, 26, 26);
  font-size: 22px;
  text-decoration: underline;
  transition: all 0.3s ease-in-out;
  transform: scale(1.1);
  font-weight: bold;
}
