.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* flex-direction: column; */
  width: 100%;
  height: 90px;
  background-color: #ff914d;
  padding: 10px 35px;
  position: fixed;
  top: 0;

  @media screen and (max-width: 480px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.navbarTitle {
  /* margin-left: 50px; */
  color: #333333;
  font-size: 45px;
  font-family: 'Courier New', Courier, monospace;

  @media screen and (max-width: 900px) {
    display: flex;
    font-size: 35px;
  }
  @media screen and (max-width: 480px) {
    display: flex;
    font-size: 28px;
  }
  @media screen and (max-width: 313px) {
    display: flex;
    font-size: 22px;
  }
  @media screen and (max-width: 252px) {
    display: flex;
    font-size: 20px;
  }
  @media screen and (max-width: 232px) {
    display: flex;
    font-size: 18px;
  }
  @media screen and (max-width: 212px) {
    display: flex;
    font-size: 16px;
  }
  @media screen and (max-width: 192px) {
    display: flex;
    font-size: 14px;
  }
}

.navbarButtons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;

  @media screen and (max-width: 1000px) {
    gap: 20px;
  }

  @media screen and (max-width: 900px) {
    gap: 10px;
  }

  @media screen and (max-width: 700px) {
    display: none;
  }
}

.navbarButtons button {
  @media screen and (max-width: 900px) {
    display: none;
  }
}
