.footer {
  background-color: #333;
  position: relative;
  bottom: -193px;
  display: flex;
  flex-direction: column;
}

.footerContainer {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  /* margin: 0 auto; */
  /* max-width: 1200px; */
}
.contact {
  text-align: center;

  @media screen and (max-width: 320px) {
    flex-direction: column;
  }
}
.contact h2 {
}
.contact p {
}
.social {
  /* display: flex; */
  /* gap: 10px; */

  @media screen and (max-width: 320px) {
    flex-direction: column;
  }
}

.social a {
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 8px;
}

.social a:hover {
  text-decoration: underline;
  transition: all 0.3s ease-in-out;
  transform: scale(1.1);
}
.social img {
  width: 20px;
  height: 20px;
}

.newsletter {
  text-align: center;
}

.newsletterForm {
  display: flex;
  flex-direction: column;
  gap: 10px;

  @media screen and (max-width: 320px) {
    flex-direction: column;
  }
}

.newsletterForm input {
  padding: 10px;
  font-size: 16px;
  border: none;
}

.newsletterForm button {
  padding: 10px 10px;
  font-size: 16px;
  background-color: #555;
  color: white;
  border: none;
  cursor: pointer;
}

.newsletterForm button:hover {
  background-color: #777;
}

.scrollTopButton {
  background-color: #333;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  /* display: none; */
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.scrollTopButton:hover {
  background-color: #777;
}
.disclaimer {
  width: 400px;
  font-size: 18px;
  color: aquamarine;
}
.copyright {
  width: 210px;
  font-size: 18px;
  color: aquamarine;
  text-align: center;
  margin-top: 78px;

  @media screen and (max-width: 320px) {
    flex-direction: column;
  }
}
