.homePage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #fff5e1;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('/heroImage.jpg');
  margin-top: 90px;
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
}

.homePage h2 {
  text-align: center;
  font-size: 46px;
  margin-top: 20px;
  margin-bottom: 20px;
  color: whitesmoke;

  @media screen and (max-width: 320px) {
    font-size: 20px;
    margin: 10px;
  }
}

.homePage h3 {
  max-width: 800px;
  text-align: center;
  margin: 20px;
  font-size: 22px;
  line-height: 1.5;
  color: whitesmoke;

  @media screen and (max-width: 320px) {
    font-size: 16px;
    margin: 10px;
  }
}
.homePageBanner {
  max-width: 1000px;
  height: 400px;
  display: flex;
  flex-direction: column;
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)), url('/homelessSouls.jpg');
  margin-top: 200px;
  margin-bottom: 200px;
  margin-left: auto;
  margin-right: auto;
  background-position: top center;
  background-repeat: no-repeat;
}

.homePageBanner h4 {
  text-align: center;
  font-size: 32px;
  line-height: 1.5;
  color: #ffffff;

  @media screen and (max-width: 780px) {
    font-size: 25px;
  }
}
.information {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.information h3 {
  margin: 20px;
  font-size: 42px;
  line-height: 1.5;
  color: #333333;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.articlesCardsGrid {
}
