.grid {
  /* border: solid 2px green;
  display: flex;
  flex-direction: row-reverse;
  width: 1400px;
  justify-content: center; */
}

.card {
  transition:
    transform 150ms ease,
    box-shadow 150ms ease;

  &:hover {
    transform: scale(1.01);
    box-shadow: var(--mantine-shadow-md);
  }
}

.title {
  font-family: 'Greycliff CF', var(--mantine-font-family);
  font-weight: bold;
}
